streamlit
langchain
openai
langchain-openai
langchain-community
langchain-experimental
mistralai
langchain-mistralai
llamaapi
transformers
pypdf
tiktoken
faiss-cpu
PyMuPDF
python-docx

